.ios, .md {
    page-config {

        ion-content {
            background-color:#007E7A;
        }     
        ion-item {
        background-color:#007E7A !important ;
        color: #fff !important ;
        }  

        ion-list{
            background-color:#ffc000;
        }
    

    }
}
